{% extends 'base.html' %}

{% block content %}

<section class="contato-page">

<div class="contato-info">
<h2>Fale com nossos especialistas</h2>
<p>Preencha os dados ao lado para entrarmos em contato. Nossa equipe está pronta para entender seu cenário.</p>

<div class="caixa-beneficios">
  <p>Atendimento consultivo</p>
  <p>Propostas personalizadas</p>
  <p>Soluções sob medida</p>
  </div>
</div>

  <div class="contato-direita">

    {% if sucesso %}
      <div style="background:#00e5ff;color:#000;padding:12px;border-radius:8px;margin-bottom:20px;font-weight:bold;">
        Solicitação enviada com sucesso!
      </div>
    {% endif %}

    <form class="form-orcamento" method="POST">

      {% csrf_token %}

      <div class="grid-form">

        <input
          type="text"
          name="nome"
          placeholder="Seu nome"
          required
        >

        <input
          type="tel"
          name="whatsapp"
          placeholder="WhatsApp"
          required
        >

        <input
          type="email"
          name="email"
          placeholder="Seu e-mail"
        >

        <input
          type="text"
          name="empresa"
          placeholder="Empresa ou negócio"
        >

      </div>

      <textarea
        name="projeto"
        placeholder="Descreva seu projeto"
        required
      ></textarea>

      <button
        type="submit"
        class="botao"
      >
        Solicitar orçamento
      </button>

      <small>
        Retornaremos em até 24 horas
      </small>

    </form>

  </div>

</section>

{% endblock %}