{% extends 'base.html' %}
{% load static %}
{% block body_class %}kits-page{% endblock %}

{% block content %}

<section class="produtos">
  
  <article class="card">
    <a href="#">
      <div class="card-image-container">
        <img src="{% static 'img/img-capacitacao.jpeg' %}" alt="Qualificação">
      </div>
      <h3>Qualificação</h3>
      <p>Capacitação em tecnologia para equipes escolares e de empresas.</p>
      <a href="{% url 'contato' %}" class="botao-card">
        Entre em Contato
      </a>
    </a>
  </article>

  <article class="card">
    <a href="#">
      <div class="card-image-container">
        <img src="{% static 'img/img-biosin.jpeg' %}" alt="Biosin">
      </div>
      <h3>Biosin</h3>
      <p>Biosin Biosin Biosin Biosin Biosin Biosin Biosin Biosin Biosin</p>
      <a href="{% url 'contato' %}" class="botao-card">
        Entre em Contato
      </a>
    </a>
  </article>

    <article class="card">
    <a href="#">
      <div class="card-image-container">
        <img src="{% static 'img/img-brainrec.jpeg' %}" alt="Brainrec">
      </div>
      <h3>Brainrec</h3>
      <p>Brainrec Brainrec Brainrec Brainrec Brainrec Brainrec Brainrec</p>
      <a href="{% url 'contato' %}" class="botao-card">
        Entre em Contato
      </a>
    </a>
  </article>

</section>

{% endblock %}