{% extends 'base.html' %}
{% load static %}
{% block body_class %}kits-page{% endblock %}

{% block content %}

<section class="coverflow">

  <!-- PRODUTOS -->

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/img-capacitacao.jpeg' %}" alt="Qualificação">
    </div>

    <h3>Qualificação</h3>

    <p>
      Capacitação em tecnologia para equipes escolares e de empresas.
    </p>

    <a href="/produto/1/" class="botao-card">
      Saiba Mais
    </a>
  </article>

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/img-biosin.jpeg' %}" alt="Biosin">
    </div>

    <h3>Biosin</h3>

    <p>
      Soluções biomédicas para ensino e pesquisa.
    </p>

    <a href="/produto/2/" class="botao-card">
      Saiba Mais
    </a>
  </article>

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/img-brainrec.jpeg' %}" alt="BrainRec">
    </div>

    <h3>BrainRec</h3>

    <p>
      Kit educacional para aquisição de sinais biológicos.
    </p>

    <a href="/produto/3/" class="botao-card">
      Saiba Mais
    </a>
  </article>

  <!-- ITENS QUE VIERAM DE SOLUÇÕES -->

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/educacional-img.jpg' %}" alt="Kits Educacionais">
    </div>

    <h3>Kits Educacionais</h3>

    <p>
      Aprendizado prático com tecnologia, ciência e inovação.
    </p>

    <a href="/produto/4/" class="botao-card">
      Saiba Mais
    </a>
  </article>

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/robotica-img.jpg' %}" alt="Robótica">
    </div>

    <h3>Robótica</h3>

    <p>
      Construção, experimentação e desenvolvimento criativo.
    </p>

    <a href="/produto/5/" class="botao-card">
      Saiba Mais
    </a>
  </article>

  <article class="card slide">
    <div class="card-image-container">
      <img src="{% static 'img/maker-img.jpg' %}" alt="Projetos Maker">
    </div>

    <h3>Projetos Maker</h3>

    <p>
      Automação, programação e experiências interativas.
    </p>

    <a href="/produto/6/" class="botao-card">
      Saiba Mais
    </a>
  </article>

<button class="arrow left">
  <img src="{% static 'img/seta-esquerda.svg' %}" alt="Anterior">
</button>

<button class="arrow right">
  <img src="{% static 'img/seta-direita.svg' %}" alt="Próximo">
</button>

</section

{% endblock %}