{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="sobre">

  <div class="sobre-layout">

    <h2>
      A Science Box conecta tecnologia, ciência e educação
      através de experiências práticas e inovação.
    </h2>

    <div class="sobre-card-texto">
      <p>
        Desenvolvemos kits tecnológicos, soluções educacionais e
        experiências interativas para transformar a forma como alunos 
        aprendem ciência e tecnologia. Nosso objetivo é tornar o
        aprendizado mais acessível, moderno e conectado ao futuro.
      </p>
      <img
        src="{% static 'img/logo-sobre.png' %}"
        alt="Science Box"
        class="logo-sobre"
      >
    </div>

    <div class="sobre-imagem">
      <img
        src="{% static 'img/img-quem-somos.png' %}"
        alt="Science Box"
      >
    </div>

  </div>

</section>

{% endblock %}