{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="solucoes">

  <div class="solucoes-container">

    <!-- TOPO -->

    <div class="solucoes-topo">

      <div class="solucoes-texto">



        <h2 class="titulo-solucoes">
          Soluções tecnológicas
          para educação
        </h2>

      </div>

      <div class="solucoes-descricao">

        <p>
          Desenvolvemos experiências práticas,
          kits tecnológicos e soluções inovadoras
          para transformar o aprendizado.
        </p>

      </div>

    </div>

    <!-- CARDS -->

    <div class="solucoes-cards">

      <!-- CARD 1 -->

      <div class="solucao-card">

        <div class="solucao-info">

          <h3>KITS EDUCACIONAIS</h3>

          <p>
            Aprendizado prático com tecnologia,
            ciência e inovação.
          </p>

        </div>

        <div class="solucao-icon">

          <img
            src="{% static 'img/icon-kit.png' %}"
            alt="Kit Educacional"
          >

        </div>

      </div>

      <!-- CARD 2 -->

      <div class="solucao-card">

        <div class="solucao-info">

          <h3>ROBÓTICA</h3>

          <p>
            Construção, experimentação
            e desenvolvimento criativo.
          </p>

        </div>

        <div class="solucao-icon">

          <img
            src="{% static 'img/icon-robo.png' %}"
            alt="Robótica"
          >

        </div>

      </div>

      <!-- CARD 3 -->

      <div class="solucao-card">

        <div class="solucao-info">

          <h3>PROJETOS MAKER</h3>

          <p>
            Automação, programação
            e experiências interativas.
          </p>

        </div>

        <div class="solucao-icon">

          <img
            src="{% static 'img/icon-maker.png' %}"
            alt="Projetos Maker"
          >

        </div>

      </div>

    </div>

  </div>

</section>

{% endblock %}